#OutComeContainer {
    width: 95%;
    margin: auto;
}

a,
p {
    width: 25%;
    font-weight: bold;
    text-align: center;
    background: #d0e9f5;
    color: #064970;
    box-shadow: inset 1px 1px 5px 1px #4c84d9;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 4px;
    margin: 0.25rem;
    cursor: pointer;
}

p {
    width: 14%;
}

a:hover,
p:hover {
    background: #92b4c4;
    color: white;
}

input {
    width: 18%;
    text-transform: uppercase;
    text-align: center;
}
.w-95{
    width: 95%;
}
i{
    text-transform: capitalize;
    font-size: 0.7rem;
}
@media screen and (min-width: 480px) {
    p {
        width: 7%;
    }a {
        width: 15%;
    }
  }
  @media screen and (min-width: 480px) {
    a {
        width: 8%;
    }
  }