#OutComeContainer {
    width: 95%;
    margin: auto;
}

a,
p {
    width: 25%;
    font-weight: bold;
    text-align: center;
    background: #d0e9f5;
    color: #064970;
    box-shadow: inset 1px 1px 5px 1px #4c84d9;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 4px;
    margin: 0.25rem;
    cursor: pointer;
}

p {
    width: 14%;
}

a:hover,
p:hover {
    background: #92b4c4;
    color: white;
}

input {
    width: 18%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 2px;
}

.w-95 {
    width: 95%;
}

i {
    text-transform: capitalize;
    font-size: 0.7rem;
}

.improper-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 100%;
    box-shadow: inset 0px 2px 14px 0px #1b2c74;
}

#EliminatedLetterContainer {
    padding: 2vw;
}

#SolutionHeading {
    display: none;
}
#HamburgerIcon{
    cursor: pointer;
}
article {
    position: absolute;
    background: #a0d1dd;
    z-index: 1;
    color: #d0e9f5;
    display: block;
    height: calc(100% - 0vh);
    color: black;
    width: 0;
    overflow-x: hidden;

}

.show-article {
    width: 70vw;
    transition: 0.5s;
    box-shadow: 5px 4px 19px 8px #0a175e9e;
}

.hide-article {
    width: 0;
    transition: 0.5s;
}

ul {
    font-size: 0.8rem;
    padding: 0 21px;
}

@media screen and (min-width: 480px) {
    p {
        width: 7%;
    }

    a {
        width: 8%;
    }

    .improper-box {
        flex-direction: row;
    }

    button {
        width: 40vw;
    }

    .show-article {
        width: 40vw;
    }
    ul {
        font-size: 1rem;
    }
}